<h1>Merry Crypto!</h1>

<table>
  <tr>
    <th>Currency</th>
    <th>price</th>
    <th>market cap </th>
    <th>24hr % change </th>
    <th>1w % change </th>
    <th>1m % change </th>
    <th>1y % change </th>
  </tr> 
  <tbody>
    <tr>
      <td><strong>BTC</strong></td>
      <td>16196</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td><strong>ETH</strong></td>
      <td>1131</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>