<body>

<div class="globalData">
  <app-global-data></app-global-data>
</div>

<div class="exchangeTable">

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Trust Rank Column -->
  <ng-container matColumnDef="trustRank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Trust Rank">
      Trust Rank
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.trustRank}} </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.url}}"><img src="{{element.image}}" style="height: 50px;width: 50px; padding: 5px"/></a> </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Year">
      Year
    </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

    <ng-container matColumnDef="trustScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Trust Score">
        Trust Score
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'good': element.trustScore>7, 'bad': element.trustScore<7, amber: element.trustScore == 8 || element.trustScore == 7 }" style="text-align: center; font-weight: bold" > {{element.trustScore}} </td> 
    </ng-container>

   <!-- Volume Column -->
   <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Volume">
      24hr Volume
    </th>
    <td mat-cell *matCellDef="let element"> {{element.volume}} btc</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

</body>