
mat-card {
  margin:auto;
  width: 27%;
  margin-top: 10%;
  padding: 1%;
}

form {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-title {
  font-size: 15pt;
  font-weight: 600;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  text-align: center;
}

form div button {
  width: 100%;
  height: 55px;
}

#bottom-error {
  padding-bottom: 2%;
}