table {
    height: 200px;
    width: 10px;
    padding: 10px;
  }

  
.positive {
  color: green;
}

.negative {
  color: red;
}

.mat-mdc-row:hover .mat-mdc-cell {
  cursor: pointer;
  background-color: rgba(195, 194, 194, 0.1);
}