table {
    height: 200px;
    width: 10px;
    padding: 10px;
  }


.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(195, 194, 194, 0.1);
}

#coin-name-row {
  cursor: pointer;
}


.positive {
  color: rgb(97, 190, 97);
}

.negative {
  color: rgb(156, 34, 34);
}

.star-btn {
  color: rgb(156, 34, 34);
  animation: animate 3s linear infinite;
}


