<div class="total">
  <div class="balance">
    <div class="amount">
      <h4>{{currentBalance.toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 0})}}</h4>
    </div>
    <div class="title">
      Total Balance
    </div>
  </div>

  <div class="pnl">
    <div class="amount">
      <h4>{{(currentBalance - initialBalance).toLocaleString("en-US", {style: "currency", currency: "USD", minimumFractionDigits: 0})}}</h4>
      <h6 [ngClass]="{'positive': (currentBalance - initialBalance)>0, 'negative': (currentBalance - initialBalance)<0 || (currentBalance - initialBalance)==0}"> {{(((currentBalance - initialBalance) / initialBalance) * 100).toFixed(2)}}%</h6>
    </div>
    <div class="title">
      Total Profit Loss
    </div>
  </div>

  <div class="coins">
    <div class="amount">
      <h3>{{coins}}</h3>
    </div>
    <div class="title">
      Cryptocurrencies Held
    </div>
  </div>
</div>
