.stats-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

.stats-wrapper mat-card {
  width: 250px;
  text-align: center;
}

.stats-wrapper mat-card mat-card-content {
  text-align: center;

}

.amount {
  padding-top: 10%;
}


.positive {
  color: rgb(97, 190, 97);
}

.negative {
  color: rgb(156, 34, 34);
}

#percentage {
  font-size: 10pt;
  position: relative;
  bottom: 7px;
}

.title {
  color: rgb(129, 128, 128);
}



