<!-- USER LOGGED IN -->
<mat-toolbar *ngIf="isLoggedIn()" class="navbar">
    <span>
        <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    </span>
    <span class="example-spacer"></span> 
    <button mat-button color="grey" class="news" (click)="navigateTo('news')">News</button>
    <button mat-button color="green" class="coins" (click)="navigateTo('')">Coins</button>
    <button mat-button color="green" class="exchanges" (click)="navigateTo('exchanges')">Exchanges</button>
    <button mat-button color="green" class="portfolio" (click)="navigateTo('register')">Portfolio</button>
    <span class="example-spacer"></span> 
    <button mat-button color="green">Watchlist</button>
    <button mat-button color="green" (click)="logout()">Sign out</button>
</mat-toolbar>

<!-- USER IS NOT LOGGED IN AND ON HOME PAGE -->
<mat-toolbar *ngIf="!isLoggedIn() && onHomePage()" class="navbar">
    <span>
        <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    </span>

    <span class="example-spacer"></span>

    <button mat-button color="grey" class="news" (click)="navigateTo('news')">News</button>
    <button mat-button color="green" class="coins" (click)="navigateTo('')">Coins</button>
    <button mat-button color="green" class="exchanges" (click)="navigateTo('exchanges')">Exchanges</button>
    <button mat-button color="green" class="portfolio" (click)="navigateTo('register')">Portfolio</button>

    <span class="example-spacer"></span> 

    <button mat-button color="green" (click)="navigateTo('login')">Sign in</button>
    <button mat-raised-button color="moregreen" (click)="navigateTo('register')">Get started</button>
</mat-toolbar>

<!-- USER IS NOT LOGGED IN AND ON LOGIN PAGE -->
<mat-toolbar *ngIf="!isLoggedIn() && onLoginPage()" class="navbar">
    <span>
        <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    </span>
    <span class="example-spacer"></span> 
    <button mat-raised-button color="moregreen" (click)="navigateTo('register')">Get started</button>
</mat-toolbar>

<!-- USER IS NOT LOGGED IN AND ON REGISTER PAGE -->
<mat-toolbar *ngIf="!isLoggedIn() && onRegisterPage()" class="navbar">
    <span>
        <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    </span>
    <span class="example-spacer"></span> 
    <button mat-button color="green" (click)="navigateTo('login')">Sign in</button>
</mat-toolbar>

