.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 200px;
  cursor: pointer;
}

::ng-deep.mat-mdc-raised-button {
  font-weight: 600;
}

::ng-deep.mat-mdc-button {
  font-weight: 600;
}

.logo {
  margin-left: 10%;
}

.central-component {
  margin-right: 7%;
}

.central-component button {
  margin-right: 5%;
}

.rightside-component {
  margin-right: 10%;
}


.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: rgb(28, 105, 58);
}
