<!-- USER LOGGED IN -->
<mat-toolbar *ngIf="isLoggedIn()" class="navbar">
    <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    
    <span class="spacer"></span>

    <span class="central-component">
    <button mat-button color="primary" (click)="navigateTo('')">Cryptocurrencies</button>
    <button mat-button color="primary" (click)="navigateTo('exchanges')">Exchanges</button>
    <button mat-button color="primary" (click)="navigateTo('news')">News</button>
    </span>
    <span class="spacer"></span>
    <span class="rightside-component">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <span id="username">{{ username }}</span>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item id="test" (click)="navigateTo('watchlist')">
                <mat-icon [ngStyle]="{'color':'rgb(28, 105, 58)'}">stars</mat-icon>
                <span>Watchlist</span>
            </button>
            <button mat-menu-item (click)="navigateTo('portfolio')">
                <mat-icon [ngStyle]="{'color':'rgb(28, 105, 58)'}">work</mat-icon>
                <span>Portfolio</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon [ngStyle]="{'color':'rgb(28, 105, 58)'}">logout</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>

<!-- USER IS NOT LOGGED NOT LOGIN NOT REGISTER -->
<mat-toolbar *ngIf="!isLoggedIn() && !onLoginPage() && !onRegisterPage()"  class="navbar">
    <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    
    <span class="spacer"></span>

    <span class="central-component">
    <button mat-button color="primary" (click)="navigateTo('')">Cryptocurrencies</button>
    <button mat-button color="primary" (click)="navigateTo('login')">Exchanges</button>
    <button mat-button color="primary" (click)="navigateTo('login')">News</button>
    </span>
    <span class="spacer"></span>

    <span class="rightside-component">
        <button mat-button color="primary" (click)="navigateTo('login')">Sign in</button>
        <button mat-raised-button color="primary" (click)="navigateTo('register')">Get started</button>
    </span>
</mat-toolbar>

<!-- USER IS NOT LOGGED IN AND ON LOGIN PAGE -->
<mat-toolbar *ngIf="!isLoggedIn() && onLoginPage()" class="navbar">
    <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    
    <span class="spacer"></span>

    <span class="rightside-component">
        <button mat-raised-button color="primary" (click)="navigateTo('register')">Get started</button>
    </span>
</mat-toolbar>

<!-- USER IS NOT LOGGED IN AND ON REGISTER PAGE -->
<mat-toolbar *ngIf="!isLoggedIn() && onRegisterPage()" class="navbar">
    <img class="logo" src="/assets/img/logo7.png" alt="logo" (click)="navigateTo('')">
    
    <span class="spacer"></span>

    <span class="rightside-component">
        <button mat-button color="primary" (click)="navigateTo('login')">Sign in</button>
    </span>
</mat-toolbar>


