<div class="container">
  <mat-card *ngFor="let tweet of relatedTweets" class="card">
    <img mat-card-image src="assets/img/twitter.jpeg" alt="News image">
    <mat-card-content>
      <h5>Tweets</h5>
      <div class="content">
        <p>{{ tweet.text }}</p>
      </div>

      <div class="profile-wrapper">
        <div>
          <img src="{{ tweet.user.profile_image_url }}" style="border-radius: 100%;">
        </div>
        <div class="profile-text">
          <div id="username">{{tweet.user.name}}</div>
          <div id="date">{{ tweet.created_at}}</div>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>

  <div class="no-related-news" *ngIf="relatedTweets.length === 0">
    <p>No {{id}} related tweets today <span id="emoji">🥶</span></p> 
  </div>
</div> 

