body {
  max-width: 1000px;
  margin: auto;
}

.searchBar{
  margin-top: 0px;
  margin-left: auto;
  margin-right: 0;
}

.topRow{
  display: flex;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.cryptoTable {
height: 50px;
width: 800px;
padding: 10px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

.globalData {
margin-top: 30px;
margin-left: 50px;
margin-right: auto;
}

.display-username {
display: flex;
justify-content: center;
position: relative;
text-align: center;
margin-top: 40px;
margin-left: 380px;
margin-right: auto
}

.display-username button {
margin-left: 1%;
margin-top: -1%;
background-color: white;
border: none;
font-size: 23pt;
transition: transform .7s ease-in-out;
}

.display-username button:hover {
transform: rotate(360deg);
}

#snow-animation {
animation: fadeInOut 30s;
}

@keyframes fadeInOut {
0% { opacity: 0; }
15% {opacity: 0.7}
80% { opacity: 1; }
100% { opacity: 0; }
}
