<!DOCTYPE html>
<html>
  <app-snow-effect></app-snow-effect>
  <body>
    
    <h1>Merry Crypto</h1>

    <div class="globalData">
      <app-global-data></app-global-data>
    </div>

    <div class="display-username" *ngIf="token">
        <h3>Hello, {{ username }}</h3> 
        <button id="snowflake">&#10052;&#65039;</button>
    </div>

    <div class="searchBar">
      <app-search></app-search>
    </div>

    <div class="cryptoTable">
      <table-root></table-root>
    </div>
  </body>
</html>
