.topRow{
  padding-top: 7%;
  margin: auto;
  width: 23%;
  text-align:center;
  padding-bottom: 4%;
}

.topRow div h3 {
  margin-left: -10%;
  font-weight: 350;
  margin-bottom: 4%;
  overflow: hidden;
}

.cryptoTable {
margin:auto;
width: 60%;
}

/* .globalData {
margin-top: 20px;
margin-left: 50px;
margin-right: auto;
} */

/* .display-username {
  display: flex;
position: relative;
margin-top: 40px;
margin-left: 380px;
margin-right: auto;
white-space: nowrap;
  overflow: hidden;
} */

#snowflake {
float: right;
/* margin-left: -10%; */
margin-top: -14%;
background-color: transparent;
border: none;
font-size: 23pt;
transition: transform .7s ease-in-out;
} 

#snowflake:hover {
transform: rotate(360deg);
}

#snow-animation {
animation: fadeInOut 30s;
}

@keyframes fadeInOut {
0% { opacity: 0; }
15% {opacity: 0.7}
80% { opacity: 1; }
100% { opacity: 0; }
}
