body {
    max-width: 1000px;
    margin: auto;
}

.cryptoTable {
  height: 50px;
  width: 800px;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.globalData {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: auto;
}
