<div class="loading-bar" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="market-stats" *ngIf="!loading">

  <div class="box">
    <h5 class="data">
        {{globalData.coins}}
    </h5>
    <div class="data-heading">
      # of Coins
    </div>
  </div>

  <div class="box">
    <h5 class="data">
      ${{globalData.mc}} 
      <span [ngClass]="{'positive': globalData.mcChange>0, 'negative': globalData.mcChange<0 || globalData.mcChange==0}">
        <span *ngIf="globalData.mcChange>0">
            +{{globalData.mcChange}}% ↑
        </span>
        <span *ngIf="globalData.mcChange<0">
          {{globalData.mcChange}}% ↓
        </span>
      </span>
    </h5>
    <div class="data-heading">
      Market Capitalization
    </div>
  </div>

  <div class="box">
    <h5 class="data">
      ${{globalData.volume}}
    </h5>
    <div class="data-heading">
      24h Trading Volume
    </div>
  </div>

</div>
  
  
  
  
  

