.loading-bar {
  margin: auto;
  width: 22%;
  padding-bottom: 2%;
}


.market-stats {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-bottom: 2%;
}

.positive {
  position: relative;
  bottom: 5px;
  font-size: 10pt;
  color: rgb(97, 190, 97);
  margin-bottom: 10%;
}

.negative {
  font-size: 10pt;
  color: rgb(156, 34, 34);
  margin-bottom: 10%;
  position: relative;
  bottom: 5px;
  font-size: 10pt;
}

.data-heading {
  color: rgb(129, 128, 128);
  font-size: 11pt;
}

.data {
  font-size: 17pt;
  margin-bottom: 1%;
}




