.watchlistTable{
  padding-top: 8%;
  margin: auto;
  width: 50%;
}

.watchlistTable h3 {
  text-align: center;
  font-weight: 350;
  padding-bottom: 5%;
}

.mat-mdc-row:hover .mat-mdc-cell {
background-color: rgba(195, 194, 194, 0.1);
}

#coin-name-row {
cursor: pointer;
}


.positive {
color: rgb(97, 190, 97);
}

.negative {
color: rgb(156, 34, 34);
}


