
.watchlistTable {
  height: 50px;
  width: 800px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.mat-mdc-row:hover .mat-mdc-cell {
background-color: rgba(195, 194, 194, 0.1);
}

#coin-name-row {
cursor: pointer;
}


.positive {
color: rgb(97, 190, 97);
}

.negative {
color: rgb(156, 34, 34);
}


