<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <app-snow-effect></app-snow-effect>

    <div class="page-not-found-container">
      <h1>You've found a page that doesn't exist</h1>
      <iframe
        src="https://media.tenor.com/7U4jh1ew4SkAAAAC/grinch-ahh.gif"
        frameBorder="0"
        class="page-not-found-gif"
        allowFullScreen
      ></iframe>
    </div>
  </body>
</html>
