<form class="form">
  <mat-form-field class="full-width" appearance="fill">
    
    <mat-label><mat-icon>search</mat-icon> Search for a coin</mat-label>
    <input matInput
           aria-label="Coin"
           [matAutocomplete]="auto"
           [formControl]="coinCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (click)="navigateTo(coin.name)" *ngFor="let coin of filteredCoins | async" [value]="coin.name">
        <img alt="coin logo" class="option-img" src="https://www.cryptocompare.com{{coin.imageURL}}" height="25">
        <span>{{coin.name}}</span> 
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>