<div class="search-box">
  <input class="search-input" type="search" placeholder="Search a coin ..." id="cryptoNameSearch" name="cryptoNameSearch" aria-label="Search"
  (keyup.enter)="getSearchResult($event)">
</div>


<!-- <form>
  <input class="form-control mr-sm-2" type="search" placeholder="Search a coin ..." id="cryptoNameSearch" name="cryptoNameSearch" aria-label="Search"
  (keyup.enter)="getSearchResult($event)">
  <button type="submit">Search</button>
</form> -->



<!-- mat-form-field -->

<!-- <div class="searchbar" style="font-size: 12px">
<mat-form-field appearance="outline">
  <input type="search" matInput placeholder="Search" (keyup.enter)="getSearchResult($event)">
</mat-form-field>
</div> -->

