<div class="register-wrapper">
  <div class="register-form">

    <h1>Create an account</h1>
    <mat-hint><small>*Required fields</small></mat-hint>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h5 class="small-headings">Email</h5>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email address</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
      </mat-form-field>

      <h5 class="small-headings">Username</h5>
      <mat-form-field appearance="outline">
        <mat-label>Enter your username</mat-label>
        <input type="text" matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="username.touched && username.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <h5 class="small-headings">Password</h5>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input [type]="passwordHideOne ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix color="primary" (click)="passwordHideOne = !passwordHideOne" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHideOne">
          <mat-icon>{{passwordHideOne ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <h5 class="small-headings">Password confirmation</h5>
      <mat-form-field appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input [type]="passwordHideTwo ? 'password' : 'text'" matInput placeholder="Password confirmation" formControlName="passwordConfirm">
        <button mat-icon-button matSuffix color="primary" (click)="passwordHideTwo = !passwordHideTwo " [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHideTwo">
          <mat-icon>{{passwordHideTwo  ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      <mat-hint *ngIf="!registerForm.valid"><small>Please fill out all needed information</small></mat-hint>
      <mat-error *ngIf="passwordConfirm.touched && registerForm.hasError('passwordsNotMatching')">
        <small>Passwords are not matching</small>
      </mat-error>

      <mat-error id="bottom-error"><small>{{errormessage}}</small></mat-error>

      <div class="button">
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Create an account</button>
      </div>
    </form>
  </div>

  <div class="right-side-register">
    <h1>Discover your inner Grinch, only on MerryCrypto</h1>
    <p>Set up your account and verify your photo ID to get started on trading crypto.</p>
    <img src="assets/img/grinch_register.png">
  </div>
</div>