<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class="relatedNews">
      <div class="relatedNewsHeader">
      <h1>Related News</h1>
      </div>

      <mat-divider></mat-divider>

      <div class="container mt-5">
        <div class="row">
          <div *ngFor="let article of filteredNews" class="col-lg-3 mt-3 mb-3">
            <li>
              <div class="box">
                <img src="{{ article.image }}" width="100%" />
                <h3>{{ article.title }}</h3>
                <p>{{ article.body }}</p>
                <a mat-raised-button href="{{ article.url }}" class="button"
                  >Read more</a
                >
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>    
  </body>  
</html>

