<!-- 
    <div class="relatedNews">
      <div class="relatedNewsHeader">
      <h1>Related News</h1>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div *ngFor="let article of filteredNews" class="col-lg-3 mt-3 mb-3">
            <li>
              <div class="box">
                <img src="{{ article.image }}" width="100%" />
                <h3>{{ article.title }}</h3>
                <p>{{ article.body }}</p>
                <a mat-raised-button href="{{ article.url }}" class="button"
                  >Read more</a
                >
              </div>
            </li>
          </div>
        </div>
      </div>
      <div class="no-related-news" *ngIf="filteredNews.length === 0"><p>No {{id}} related news today</p></div>
    </div>     -->

<div class="container">
  <mat-card *ngFor="let article of filteredNews" class="card">
    <img mat-card-image src="{{article.image}}" alt="News image">
    <mat-card-content>
      <h5>News</h5>
      <div class="content">
        <h4>{{article.title}}</h4>
        <p>{{article.body}}</p>
      </div>

      <a class="read-more" href="{{article.url}}">Read more...</a>
      
    </mat-card-content>
  </mat-card>

  <div class="no-related-news" *ngIf="filteredNews.length === 0">
    <p>No {{id}} related news today <span id="emoji">🥶</span></p> 
  </div>
</div> 

