.main-wrapper {
  padding-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
}

/* TOP HEADER */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1%;
  margin-right: 5%;
  margin-left: 5%;
}

.top-header-left {
  overflow: auto;
}

.top-header-left h1 {
  float:left;
  font-size: 33pt;
  font-weight: 350;
  left: 100px; 
}

.top-header-left img {
  float:left;
  width: 60px;
  height: 60px;
  margin-top: 15%;
}

#coin-logo {
  width: 60px;
  float: left;
}

#coin-name {
  position: relative;
  font-size: 33pt;
  font-weight: 350;
  top: 18px;
  left: 10px;
}

/* PRICE HEADER */

.price-wrapper {
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: 5%;
}

.price-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-header div .heading {
  font-weight: 600;
  font-size: 13pt;
  color: rgb(98, 98, 98);
}

.price-header div .big-price {
  font-size: 25pt;
  margin-bottom: -8%;
  margin-top: -8%;
}

.price-header div .change {
  font-size: 14pt;
  color: rgb(205, 3, 3);
}

/* MARKET HEADER */

.market-header {
  align-items: center;
  display: flex;
  margin-bottom: -1%;
  margin-right: 5%;
  margin-left: 5%;
}

#market-heading {
  font-size: 32pt;
  font-weight: 350;
}

.market-stats-header {
  align-items: center;
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
}

.market-stats-header h2 {
  font-size: 17pt;
  font-weight: 400;
}

.market-stats-section {
  margin-bottom: -1%;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20%;
}

.stat-heading {
  font-weight: 500;
  color: rgb(98, 98, 98);
}

.stat-number {
  margin-top: 8px;
  font-size: 15pt;
}

/* INFO ICON DISPLAY */

::ng-deep.mat-icon {
  height: 17px;
  width: 17px;
  font-size: 17px;
  line-height: 32px;
  color: rgb(98, 98, 98);
}

::ng-deep.mat-mdc-icon-button.mat-mdc-button-base {
  width: 1px;
  height: 1px; 
  padding: 1px;
}
