<div class="main-wrapper">

  <!-- TOP HEADER COIN NAME-->
  <!-- Coin name -->
  <div class="top-header">
    <div class="top-header-left">
      <img src="https://www.cryptocompare.com{{coinData.imageURL}}" alt="Cryptocurrency logo">
      <h1>{{id}}</h1>
    </div>

    <!-- Currency chips -->
    <mat-chip-listbox aria-label="Currency selection">
      <mat-chip-option
      *ngFor="let currency of currencies" 
      [selected]="currency.selected"
      (click)="selectCurrency(currency)">
      {{currency.name}}
    </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <mat-divider></mat-divider>

  <!-- PRICE DIV -->

  <div class="price-wrapper">
    <div class="price-header">
      <div>
        <p class="heading">Price</p>
        <p class="big-price">{{coinData.price}}</p>
      </div>

      <div>
        <mat-chip-listbox aria-label="Currency selection">
          <mat-chip-option
          *ngFor="let interval of intervals" 
          [selected]="interval.selected"
          (click)="selectInterval(interval)">
          {{interval.name}}
        </mat-chip-option>
        </mat-chip-listbox>
      </div>
      
    </div>

    <app-line-chart [data]="coinHistory.price" [labels]="coinHistory.time"></app-line-chart>
    <!-- <app-line-chart></app-line-chart> -->
  </div>
  
  
  <mat-divider></mat-divider>

  <!-- MARKET HEADER -->
  <div class="market-header">
    <h1 id="market-heading">Market</h1>
  </div>

  <mat-divider></mat-divider>

  <!-- MARKET STATS HEADER -->
  <div class="market-stats-header">
    <h2>Market stats</h2>
  </div>

  <!-- MARKET STATS FIRST ROW -->
  <div class="market-stats-section">
    <div>
      <span class="stat-heading">MARKET CAP</span>
      <span><button mat-icon-button
        matTooltip="Market cap is calculated by multiplying the asset's circulating supply with its current price."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.mktcap}}</div>
    </div>

    <div>
      <span class="stat-heading">TOTAL SUPPLY</span>
      <span><button mat-icon-button
        matTooltip="The amount of coins that have already been created, minus any coins that have been burned (removed from circulation). It is comparable to outstanding shares in the stock market."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.tsupply}}</div>
    </div>

    <div>
      <span class="stat-heading">CIRCULATING SUPPLY</span>
      <span><button mat-icon-button
        matTooltip="The amount of coins that are circulating in the market and are tradeable by the public. It is comparable to looking at shares readily available in the market (not held & locked by insiders, governments)."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.csupply}}</div>
    </div>

    <div>
      <span class="stat-heading">PRICE CHANGE (24H)</span>
      <span><button mat-icon-button
        matTooltip="The percent change in trading volume for this asset compared to 24 hours ago."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.change24h}}</div>
    </div>

    <div>
      <span class="stat-heading">TOP TIER VOLUME (24H)</span>
      <span><button mat-icon-button
        matTooltip="The total dollar value of all transactions for this asset processed in the top-tier exchanges over the past 24 hours."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.topvolume24h}}</div>
    </div>

    <div>
      <span class="stat-heading">VOLUME (24H)</span>
      <span><button mat-icon-button
        matTooltip="The total dollar value of all transactions for this asset over the past 24 hours."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.volume24h}}</div>
    </div>

    <div>
      <span class="stat-heading">HIGH (24H)</span>
      <span><button mat-icon-button
        matTooltip="The highest selling price of the asset in 24 hours."
        matTooltipPosition="above">
         <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.high24h}}</div>
    </div>

   
    <div>
      <span class="stat-heading">LOW (24H)</span>
      <span><button mat-icon-button
        matTooltip="The lowest selling price of the asset in 24 hours."
        matTooltipPosition="above">
        <mat-icon [ngStyle]="{'color':'rgb(98, 98, 98)', 'font-size':'15pt'}">info</mat-icon>
      </button></span>
      <br>
      <div class="stat-number">{{coinData.low24h}}</div>
    </div>
  </div>
  <app-tagged-news></app-tagged-news>
</div>

